body{	
	font-size: 15px,1.5,Arial,Helvetica;
	padding: 0;
	margin: 0;
	/*background-color: #f4f4f4;*/
}

/*Global styles*/
.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

ul{
	margin: 0;
	padding:0;
}

/*Header*/
header{
	background: #ffffff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #000000 1px solid;
	color: #000000;
}

header a{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	color: #000000;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px  0 20px
}

header #logo{
	float: left;	
}

header nav{
	float: right;
	margin-top: 10px;
}

/*header .active_page a{
	color: #e8491d;
	font-weight: bold;
}*/

header a:hover{
	color: #cccccc;
	font-weight: bold;
}

header a:visited{
	color: #885ead;	
}

header a:active{
	color: #e8491d;
}

/*content*/
#content {
	min-height: 400px;
	width: 100%;
	background: url('../img/roller.jpg') center no-repeat;	
	text-align: center;
	color: #000000;
	padding-bottom: 20px
}

#content h1{
	margin-top: 100px;
	margin-bottom: 10px
	font-size: 55px; 
}

#content p{
	font-size: 20px;
}

footer{
	width: 100%;
	padding-top: 30px;
	padding-bottom:30px;
	margin-top: 20px;
	color: #ffffff;
	background-color: #4d4d4d;
	text-align:center;
}

/*Media queries*/
@media(max-width: 768px){
	header, header nav, header nav li{
		float: none;
		text-align:center;
		width: 100%;
		padding-bottom: 20px;
	}
}